body {
  background-color: #0000;
  background-image: url("img/cover.png");

}

#myFavoriteImage {
  width: 70%;

}

#myFavoriteSide{
  height: 85%;
  width:40%;
  position: absolute;
  left: 120px;
  top: 110px;
  z-index: -1;

}
#myBio{
  width: 40%;
  height: 50%;
  position: absolute;
  right: 350px;
  top: 280px;
  z-index: -1;
}

img {
    position: absolute;
    right: 30px;
    top: 110px;
    z-index: -1;
}

h1{
  color: #000000;
  text-align: right;
  margin-right: 30px;
  margin-left: 120px;
  font-family: 'Open Sans Condensed', sans-serif;sans-serif;
  font-size: 2.70em;
  font-weight: 600;
  max-width: 2560px
}
p {
  text-align: left;
  margin-right: 30px;
  margin-left: 120px;
  height: 150px;

}

p{
  color: #000000;
  font-family: "futura-pt", helvetica, sans-serif;
  font-size: 1.35em;
  font-weight: 300;
  max-width: 2560px;
}
p.boldText {
  font-weight: bold;
}
p#italicsText {
  font-style: italic;
}

#bio{

  width: 40%;
  position: absolute;
  right: 300px;
  top: 280px;
  z-index: -1;
}

p1{
  text-align: left;
  margin-right: 30px;
  margin-left: 120px;
  height: 125px;
}

p1{
  color: #000000;
  font-family: "futura-pt", helvetica, sans-serif;
  font-size: 1.35em;
  font-weight: 300;
  max-width: 2560px;
}

p2{
  text-align: left;
  margin-right: 30px;
  margin-left: 230px;
  height: 800px;

  }

p2{
  color: #000000;
  font-family: "futura-pt", helvetica, sans-serif;
  font-size: 1.35em;
  font-weight: 300;
  max-width: 2560px;
}

p3{
  text-align: left;
  margin-right: 30px;
  margin-left: 120px;
  height: 125px;
}
